@font-face {
    font-family: 'Alegreya Sans', sans-serif;
    src: url('fonts/AlegreyaSans-ExtraBold.woff2') format('woff2'),
    font-weight, normal;
    font-style: normal;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('fonts/OpenSans-Regular.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

:root {
    --color-1: #0B3C78;
    --color-2:#F4D32C;

    --black: #0c0c0c;
    --white: #f4f4f4;
}
html {
    max-width: 100%;
    margin: 0;

    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
  /* margin: 0; */
}
body {
    max-width: 1440px;
    /* min-width: 480px; */
    background-color:var(--white);
    margin: 0;

    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: var(--black);
}

#logo {
  padding: 0 0 0 15px;
  width: 150px;
  height: 75px; 
}

/* Barra de Navegacion */

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--color-1);;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    
    flex-wrap: wrap;
  }
  nav .logo{
      color: var(--white);
      font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    /* color: #f2f2f2; */
    color: var(--color-2);

    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;; 
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: var(--black);
    background:var(--color-2);
  }
  nav .menu-btn i{
      max-width: 100%;
    color: var(--white);
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 768px){
    nav{
        max-width: 100%;
      padding: 0;
    }
  }
  @media (max-width: 480px){
      nav {
          max-width: 100%;
      }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
      padding-right: 15px;
    }
      #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 70px;
      left: -110%;
      background:rgba(0, 0, 0, 0.95);
      height: 100%;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    @media (max-width: 480px){
      #click:checked ~ ul{
          left: -10%;
        }
    }
    @media (max-width: 768px){
      #click:checked ~ ul{
          left: 0%;
        }
    }
    @media (max-width: 1200px){
        #click:checked ~ ul {
          left: 0%;
        }
    }
    .no-margin {
        margin: 10px 0 0 0 !important;
        padding-left: 0 !important;
    }
    
    nav ul li{
      width: 100%;
      margin: 45px 0px;
    }
    nav ul li a{
      width: 90%;
      margin-left: -90%;
      display: block;
      font-size: 20px;
      font-weight: 700;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      padding-right: 0px !important;
    }
    #click:checked ~ ul li a{
      margin: auto;
      padding: auto;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: var(--white);
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
  }

/* Barra de Navegacion END */

/* INICIO IMG */

.imagen-fondo {
  background-image: url(/img/muscular-car-service-worker-repairing-vehicle.webp);
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  background-color: var(--black);

  display: flex;
  align-items: center;
  height: 70%;
  flex-direction: column;
}
@media (max-width: 768px){
  .imagen-fondo{
    border-radius: 0 0 25px 25px;
    /* padding: 10% 0 10%; */
    height: 80vh;
  }
}
@media (max-width: 480px){
  .imagen-fondo{
    border-radius: 0;
  }
}
.contenido-imagen-fondo {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  padding: 5% 0%;
}

.titulo {
  color: var(--color-2);
  font-family: 'Alegreya Sans';
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  
  text-shadow:
  1px  1px 1px var(--color-1),
  -1px -1px 1px var(--color-1),  
   1px -1px 1px var(--color-1),
  -1px  1px 1px var(--color-1),
  0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .titulo {
    font-size: 40px;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 345px;
  margin: 0 auto;
}
.button-container div {
  margin: 4% 0px;
}
.button-yellow {
  display: flex;
  justify-content: center;

  background-color: var(--color-2);
  border-radius: 30px;
  width: 50%;
  height: 110%;
}
.button-yellow, a {
  color: var(--color-1);
  font-size: 24px;
  font-weight: 600;

  padding: 1%;
}
.button-blue {
  display: flex;
  justify-content: center;

  background-color: var(--color-1);
  border-radius: 30px;
  width: 110%;
  height: 110%;
}
.button-blue a {
  color: var(--color-2);
  font-size: 24px;
  font-weight: 600;

  padding: 2%;
}
.eslogan {
  color: #F4F4F4;
  text-align: center;

  text-shadow:
  1px  1px 0.5px var(--black),
  -1px -1px 0.5px var(--black),  
   1px -1px 0.5px var(--black),
  -1px  1px 0.5px var(--black),
  0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: 'Open Sans';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  padding: 0px 10%;
}
@media (max-width: 768px) {
    .eslogan {
      font-size: 24px;
    }
}
.texto-dudas {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.texto-dudas p {
  font-family: 'Alegreya Sans';
  font-weight: 800;
  font-size: 40px;
  margin: 2% auto 0;
}
.texto-dudas p span {
  color: var(--color-2);
  text-shadow:
  1px  1px 1px var(--color-1),
  -1px -1px 1px var(--color-1),  
   1px -1px 1px var(--color-1),
  -1px  1px 1px var(--color-1);
  /* 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.dudas-grid {
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 2%;
  margin: 2%;
}
.cuadro-duda {
  color: #fff;
  background-color: var(--color-1);
  border-radius: 30px;
  padding: 5%;
  height: 250px;
}
.cuadro-duda div {
  display: flex;
  gap: 5%;
  align-items: center;
}
.cuadro-duda div p {
  font-weight: 700;
  font-size: 28px;
  margin: 0;
  font-family: 'Alegreya Sans';
}
.caso-especial-1 {
  font-size: 24px !important;
  margin: 3px 0 6px !important;
}
.textos-explicativos {
  font-size: 14px;
}
.somos-n1 {
  height: 300px;
  width: 100%;
  background-color: var(--color-2);
  margin: 12% 0 5%;
  display: flex;
  justify-content: center;
  gap: 2%;
}
.cuadro-blanco {
  background-color: white;
  box-shadow: -10px 10px 12px 3px rgba(0, 0, 0, 0.25);
  height: 360px;
  width: 370px;
  border-radius: 30px;
  padding: 2%;

  position: relative;
  top: -28%;
  
  color: var(--color-1)
}
.n1 {
  font-size: 150px;
  margin: 0 auto;
  font-weight: 800;
}
.n1-txt {
  font-size: 40px;
  font-weight: 700;
  margin: 8% auto 0;
}
.puntos-somos-n1 {
  width: 46%;
}
.puntos {
  display: flex;
  gap: 0%;
  align-items: center;

  color: var(--color-1);
  font-size: 28px;
  font-weight: 700;

  margin: auto 0;
  line-height: 60%;
}
.puntos img {
  height: 52px;
  width: auto;
}

.pasos-adquirir-servicio {
  margin: 2%;
}
.txt-pasos {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
.grid-adquirir-servicio {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 2%;
  margin: 2% auto;
}
.pasos {
  background-color: white;
  border-radius: 30px;
  margin: auto;

  width: 240px;
  height: 270px;
}
.pasos img {
  max-width: 240px;
  height: auto;
  border-radius: 30px 30px 0 0;
}

/* INICIO IMG END */

/* SABER MAS */

.titulo-pop-up {
  font-size: 64px;
  color: var(--color-2);
  font-family: 'Alegreya Sans';
  font-weight: 700;
  /* padding: 0 50px; */
}

/* SABER MAS END */


/* Footer */

.derechos {
    font-size: 14px;

    background-color: var(--color-1);
    color: var(--color-2);
    width: 100%;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0;
}
@media (max-width: 768px) {
    .derechos {
      text-align: center;
      display: block;
      padding: 5px 0px;
    }
}
@media (max-width: 480px){
    .derechos {
      display: flex;
      flex-direction: column;
      padding: 5% 3%;
      text-align: center;
    }
}

/* Footer END*/