@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Alegreya Sans';
    src: url('/css/fonts/Alegreya/AlegreyaSans-ExtraBold.woff2') format('woff2'),
         url('/css/fonts/Alegreya/AlegreyaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/css/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
       url('/css/fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --color-1: #0B3C78;
    --color-2:#F4D32C;

    --black: #0c0c0c;
    --white: #f4f4f4;
}
html {
    max-width: 100%;
    max-height: 100%;
    margin: 0;

    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
  /* margin: 0; */
}
body {
    max-width: 1440px;
    /* min-width: 480px; */
    background-color:var(--white);
    margin: 0 auto;
    max-height: 100%;

    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: var(--black);
}

#logo {
  padding: 0 0 0 15px;
  width: 150px;
  height: 75px; 
}

/* Barra de Navegacion */

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--color-1);;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    
    flex-wrap: wrap;
  }
  nav .logo{
      color: var(--white);
      font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    /* color: #f2f2f2; */
    color: var(--color-2);

    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;; 
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: var(--black);
    background:var(--color-2);
  }
  nav .menu-btn i{
      max-width: 100%;
    color: var(--white);
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 768px){
    nav{
        max-width: 100%;
      padding: 0;
    }
  }
  @media (max-width: 480px){
      nav {
          max-width: 100%;
      }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
      padding-right: 15px;
    }
      #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 70px;
      left: -110%;
      background:rgba(0, 0, 0, 0.95);
      height: 100%;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    @media (max-width: 480px){
      #click:checked ~ ul{
          left: -10%;
        }
    }
    @media (max-width: 768px){
      #click:checked ~ ul{
          left: 0%;
        }
    }
    @media (max-width: 1200px){
        #click:checked ~ ul {
          left: 0%;
        }
    }
    .no-margin {
        margin: 10px 0 0 0 !important;
        padding-left: 0 !important;
    }
    
    nav ul li{
      width: 100%;
      margin: 45px 0px;
    }
    nav ul li a{
      width: 90%;
      margin-left: -90%;
      display: block;
      font-size: 20px;
      font-weight: 700;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      padding-right: 0px !important;
    }
    #click:checked ~ ul li a{
      margin: auto;
      padding: auto;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: var(--white);
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
  }

/* Barra de Navegacion END */

/* INICIO IMG */

.imagen-fondo {
  background-image: url(/img/muscular-car-service-worker-repairing-vehicle.webp);
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  background-color: var(--black);

  display: flex;
  align-items: center;
  height: 70%;
  flex-direction: column;
}
@media (max-width: 768px){
  .imagen-fondo{
    border-radius: 0 0 25px 25px;
    /* padding: 10% 0 10%; */
    height: 80vh;
  }
}
@media (max-width: 480px){
  .imagen-fondo{
    border-radius: 0;
  }
}
.contenido-imagen-fondo {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 100%;
  padding: 5% 0%;
}

.titulo {
  color: var(--color-2);
  font-family: 'Alegreya Sans';
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  
  text-shadow:
  1px  1px 1px var(--color-1),
  -1px -1px 1px var(--color-1),  
   1px -1px 1px var(--color-1),
  -1px  1px 1px var(--color-1),
  0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .titulo {
    font-size: 40px;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 345px;
  margin: 0 auto;
}
.button-container div {
  margin: 4% 0px;
}
.button-yellow {
  display: flex;
  justify-content: center;

  background-color: var(--color-2);
  border-radius: 30px;
  width: 50%;
  height: 110%;
}
.button-yellow, a {
  color: var(--color-1);
  font-size: 24px;
  font-weight: 600;

  padding: 1%;
}
.button-blue {
  display: flex;
  justify-content: center;

  background-color: var(--color-1);
  border-radius: 30px;
  width: 110%;
  height: 110%;
}
.button-blue a {
  color: var(--color-2);
  font-size: 24px;
  font-weight: 600;

  padding: 2%;
}
.eslogan {
  color: #F4F4F4;
  text-align: center;

  text-shadow:
  1px  1px 0.5px var(--black),
  -1px -1px 0.5px var(--black),  
   1px -1px 0.5px var(--black),
  -1px  1px 0.5px var(--black),
  0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: 'Open Sans';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  padding: 0px 10%;
}
@media (max-width: 768px) {
    .eslogan {
      font-size: 24px;
    }
}
.texto-dudas {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.texto-dudas p {
  font-family: 'Alegreya Sans';
  font-weight: 800;
  font-size: 40px;
  margin: 2% auto 0;
}
.texto-dudas p span {
  color: var(--color-2);
  text-shadow:
  1px  1px 1px var(--color-1),
  -1px -1px 1px var(--color-1),  
   1px -1px 1px var(--color-1),
  -1px  1px 1px var(--color-1);
  /* 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.dudas-grid {
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 2%;
  margin: 2%;
}
.cuadro-duda {
  color: #fff;
  background-color: var(--color-1);
  border-radius: 30px;
  padding: 5%;
  height: 210px;
}
.cuadro-duda div {
  display: flex;
  gap: 5%;
  align-items: center;
}
.cuadro-duda div p {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  font-family: 'Alegreya Sans';
  margin: 2% 0;
}
.caso-especial-1 {
  /* font-size: 24px !important; */
  margin: 2.5% 0 11% !important;
}
.textos-explicativos {
  font-size: 14px;
  font-weight: 500;
  padding: 0 2%;
}
.somos-n1 {
  height: 370px;
  width: 100%;
  background-color: var(--color-2);
  margin: 12% 0 5%;
  display: flex;
  justify-content: center;
  gap: 2%;
}
.cuadro-blanco {
  background-color: white;
  box-shadow: -10px 10px 12px 3px rgba(0, 0, 0, 0.25);
  height: 380px;
  width: 370px;
  border-radius: 30px;
  padding: 2%;

  position: relative;
  top: -22%;
  
  color: var(--color-1)
}
.n1 {
  font-size: 150px;
  margin: 0 auto;
  font-weight: 800;
}
.n1-txt {
  font-size: 40px;
  font-weight: 700;
  margin: 8% auto 0;
}
.puntos-somos-n1 {
  width: 46%;
}
.puntos {
  display: flex;
  gap: 0%;
  align-items: center;

  color: var(--color-1);
  font-size: 28px;
  font-weight: 700;

  margin: auto 0;
  line-height: normal;
}
.puntos img {
  height: 52px;
  width: auto;
}

.pasos-adquirir-servicio {
  margin: 2%;
}
.txt-pasos {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  font-family: 'Alegreya Sans';
  font-size: 40px;
}
.txt-pasos p span {
  color: var(--color-1);
}
.grid-adquirir-servicio {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 2%;
  margin: 2% auto;
}
.pasos {
  background-color: white;
  border-radius: 30px;
  margin: auto;

  width: 315px;
  height: 480px;
}
.pasos img {
  max-width: 100%;
  height: auto;
  border-radius: 30px 30px 0 0;
}
.contenedor-paso {
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: -11%;
  width: 90%;
  height: 60%;
}
.contenido-paso-titulo {
  font-family: 'Alegreya Sans';
  font-size: 28px;
  text-align: center;
}
.contenido-paso-titulo span {
  color: var(--color-1);
}
.descripcion-pasos {
  position: relative;
  z-index: 1;
}
.n-pasos-1, .n-pasos-2, .n-pasos-3 {
  color: #d9d9d9;
  font-family: 'Alegreya Sans';
  font-size: 250px;
  /* line-height: 200%; */
  position: relative;

  width: 8%;
  margin: 0;
  max-height: 1%;

  z-index: 0;
  /* display: none; */
}
.n-pasos-1 {
  top: -72%;
  left: 75%;
}
.n-pasos-2 {
  top: -80%;
  left: 60%;
}
.n-pasos-3 {
  top: -80%;
  left: 65%;
}
.contenido-paso-texto {
  font-size: 18px;
  padding: 2% 5%;
}

/* INICIO IMG END */

/* SERVICIOS */

.imagen-fondo-servicios {
  background-image: url(/img/car-mechanic-car-service-checking-up-car.webp);
  background-repeat: no-repeat;
  background-position: center 85%;
  background-size: cover;
  border-radius: 0 0 30px 30px;
}
.contenido-imagen-fondo-servicios {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 100%;
  padding: 8% 0%;
}
.seccion-planes {
  display: flex;
  margin: 5% auto;
  justify-content: space-between;
}
.planes {
  background-color: white;
  border-radius: 30px;
  width: 550px;
  height: 700px;

  margin: 0 auto;
  text-align: center;

  padding: .1% 0;
}
.planes h3 {
  font-size: 40px;
  color: var(--color-2);
  font-family: 'Alegreya Sans';
  font-weight: 800;

  text-shadow:
  1px  1px 1px var(--color-1),
  -1px -1px 1px var(--color-1),  
   1px -1px 1px var(--color-1),
  -1px  1px 1px var(--color-1);
  /* 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.boton-adquirir {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--color-1);
  border-radius: 30px;
  margin: 10% auto;
  width: 81%;
  height: 6%;
  
}
.boton-adquirir a { 
  color: var(--color-2);
  font-size: 28px;
  font-weight: 700;
}
/* SERVICIOS END */

/* CONTACTENOS */

.imagen-fondo-contacto {
  background-image: url(/img/happy-mechanic-talking-phone-while-using-computer-auto-repair-shop.webp);
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  background-color: var(--black);

  display: flex;
  justify-content: center;
}
.contenido-imagen-fondo-contacto {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 100%;
  padding: 8% 0%;
}

.metodos-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2% 2%;
  gap: 2%;
}
.titulo-icono {
  display: flex;
  align-items: center;
  gap: 1.5%;
}
.titulo-icono img {
  height: auto;
  width: 50px;
}
.titulo-icono h3 {
  font-family: 'Alegreya Sans';
  font-size: 64px;

  margin: 0;
}
.texto-contacto {
  font-size: 28px;
  margin-left: 8%;
}
.mapa-titulo-img {
  display: flex;
  flex-direction: column;
}
.mapa-titulo-img h3 {
  margin: 2% 0;

  text-align: center;

  font-family: 'Alegreya Sans';
  font-size: 110px;
}
.venezuela {
  background: 
  linear-gradient(to right,#FFD500, #003179, #FF0000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.venezuela-mapa {
  width: 75%;
  height: auto;
  margin: 1% auto;
}
/* CONTACTENOS END */

/* NOSOTROS */

.imagen-fondo-nosotros {
  background-image: url(/img/strength-people-hands-success-meeting.webp);
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  background-color: var(--black);
}
.imagen-fondo-nosotros {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 100%;
  padding: 8% 0%;
}

.img-objeto-verificar {
  border-radius: 30px;
  width: 200px;
  height: 440px;  
}
.mision-section, .vision-section {
  display: flex;
  gap: 5%;
}
.nosotros-section {
  margin: 2% 12%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.nosotros-section h3{
  font-size: 64px;
  font-family: 'Alegreya Sans';
  color: var(--color-1);
  margin: 0 0 5%;
}
.content-objeto {
  
  margin: 0;
}
.valores {
  text-align: center;
}
.valores-section {
  display: flex;
  gap: 5%;
}
.lista-valores  {
  list-style: none;
}
.lista-valores li {
  margin-top: 3.5%;
}
.objetivos h3, .objetivos p {
  text-align: center;
}
.objetivos ol {
  display: flex;
  flex-direction: column;
  margin: 4% 0;
  gap: 45px;
  padding: 0;
}
.objetivos .blue {
  background-color: var(--color-1);
  color: white;
}
.objetivos .yellow {
  background-color: var(--color-2);
}
.objetivos ol li {
  list-style: none;
  padding: 1% 2% ;
  background-size: 110%;
  border-radius: 30px;
  height: 60px;
}
.educar {
  display: flex;
  align-items: center;
}

/* NOSOTROS END */

/* SABER MAS */

.titulo-pop-up {
  font-size: 64px;
  color: var(--color-2);
  font-family: 'Alegreya Sans';
  font-weight: 700;
  /* padding: 0 50px; */
}

/* SABER MAS END */


/* Footer */

.derechos {
    font-size: 14px;

    background-color: var(--color-1);
    color: var(--color-2);
    width: 100%;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0;
}
@media (max-width: 768px) {
    .derechos {
      text-align: center;
      display: block;
      padding: 5px 0px;
    }
}
@media (max-width: 480px){
    .derechos {
      display: flex;
      flex-direction: column;
      padding: 5% 3%;
      text-align: center;
    }
}

/* Footer END*/